*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: linear-gradient(to right, #a87edf, #cb76ec);
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: black;
    background-color: white;
}

button:hover{
    background-color: rgb(151, 151, 151);
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(211, 158, 238);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: white;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover{
    color: rgb(132, 87, 155);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url("Img/hero-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
    font-size: 4em;
}

#qui-som .container{
    text-align: center;
    padding: 200px 12px;
}

#que-proporcionem{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#que-proporcionem .container{
    padding-top: 150px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 20px;
}

#que-proporcionem h2{
    margin-top: 0;
    font-size: 3em;
}

#que-proporcionem .carta{
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url("Img/Android.jpg");
}

.carta:nth-child(2){
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url("Img/Windows.jpg");
}

#premium{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#premium .container{
    padding-top: 20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 150px;
}

#premium .carta{
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

#final{
    background: linear-gradient(to right, #38116b, #762297);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
}

#final h2{
    color: white;
    font-size: 9vw;
}

footer{
    background-color: black;
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer p{
    margin: 0;
    padding: 12px;
    color: white;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #qui-som .container{
        display: flex;
        justify-content: center;
    }

    #qui-som .text{
        width: 50%;
        text-align: initial;
        padding: 0px 30px;
        color: white;
    }

    #qui-som .img-container{
        background-image: url(img/Logo\ AM.png);
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 500px;

    }
}
